on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: actions/hello-world-docker-action@v1
        with:
          who-to-greet: 'Mona the Octocat'
      # Use the output from the `hello` step time
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
      # Use the output from the `hello` step uname
      - name: Get the output uname -r
        run: echo "The time was ${{ steps.hello.outputs.uname }}"
